/GUITCPClient/.vs 
/GUITCPClient/x64 
/GUITCPClient/Debug 
/GUITCPClient/Release 
/MultiFileServer/.vs 
/MultiFileServer/x64 
/MultiFileServer/Debug 
/MultiFileServer/Release 
/x64
*.exe 
*.ilk 
*.pdb 
*.obj 
*.log 
*.pch 
*.idb 
*.tlog 
*.lastbuildstate 
*.suo 
*.db 

